@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



html {
    box-sizing: border-box;
}

*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    /* height: 100vh; */
}

section {
    display: flex;
    gap: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 100px;
}

div {
    max-width: 500px;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 15px;
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task_1, .task_2, .task_3, .task_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ul {
    max-width: max-content;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(27, 27, 27);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    list-style-type: none;
    padding: 20px;
    margin-top: 30px;
}

li {
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(133, 60, 60);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgb(182, 184, 51) 0px 0px 5px 5px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
    background-color: rgb(54, 109, 192);
    padding: 10px 20px;
    border: 3px solid rgb(18, 35, 85);
    border-radius: 8px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: rgb(236, 236, 236);
    box-shadow: rgb(54, 109, 192) 0px 0px 4px 3px,
        rgb(0 0 0 / 30%) 0px 30px 60px -30px,
        rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    margin: 15px 0 25px 0;
}

#value-form, #number-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#taskText {
    background-color: rgb(50, 97, 81);
}

input:nth-child(2) {
    background-color: rgb(50, 69, 97);
}
input:nth-child(4) {
    background-color: rgb(80, 50, 97);
}

input {
    border: 2px solid #7bc7ff;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

button:active {
    transform: scale(0.98);
}

p {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p:nth-child(1) {
    background-color: rgb(50, 69, 97);
}
p:nth-child(2) {
    background-color: rgb(80, 50, 97);
}
p:nth-child(3) {
    background-color: rgb(50, 69, 97);
}
p:nth-child(4) {
    background-color: rgb(80, 50, 97);
}
p:nth-child(5) {
    background-color: rgb(50, 69, 97);
}
p:nth-child(6) {
    background-color: rgb(80, 50, 97);
}


span {
    padding: 5px 10px;
    font-size: 24px;
    background-color: rgb(130, 184, 51);
    border-radius: 5px;
}